@import "./common/variable";
@import "./common/common";

.header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    padding: 2px 0;
    margin-bottom: 2px;

    .box-container {
        display: flex;
        align-items: center;
        max-width: 1140px;
        margin: 0 auto;
    }

    .logo-header {
        @include Responsive(MOBILE) {
            padding-right: 0;
        }
    }

    .logo {
        height: 66px;
        justify-content: flex-start;
    }

    .search-header {
        display: flex;
        align-items: center;
        justify-content: center;

        .form-search {
            width: 100%;
        }

        .input-search {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 12px;
            @include Responsive(IPAD) {
                column-gap: 8px;
            }

            input {
                font-size: 14px;
                width: 410px;
                height: 38px;
                border: 0;
                border-radius: 6px;
                color: #033659;
                background: #f5f5f5;
                padding: 0 16px;

                @include Responsive(MOBILE) {
                    width: 100%;
                }
            }
        }

        .btn-search {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            border: 1px solid transparent;
            font-size: 16px;
            background-color: #f26522 !important;
            border-color: #f26522 !important;
            border-radius: 0.25rem;
            padding: 6px 26px;
            height: 38px;
            color: #fff;
            text-transform: uppercase;
            &:hover {
                background-color: #dd5718 !important;
                border-color: #dd5718 !important;
            }

            @include Responsive(IPAD) {
                padding: 5px 15px;
            }
            @include Responsive(MOBILE) {
                padding: 5px 12px;
            }

            svg {
                fill: #fff;
            }

            span {
                @include Responsive(MOBILE) {
                    display: none;
                }
            }
        }
    }
}

.info-order {
    background-color: #fff;
    padding: 16px 0 0;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.06),
        0 -1px 4px rgba(0, 0, 0, 0.06);

    .header-order {
        background-color: #fff;
        font-style: normal;
        height: 100%;
    }

    .header-order .icon-logo-sss {
        position: absolute;
        right: 15px;
        top: 40px;
        width: 72px;
    }

    .header-order .title {
        padding: 10px 12px;
        background-color: #f5f5f5;
        border-radius: 4px;
        font-weight: 500;
    }

    .header-order .table-row {
        padding: 6px 12px;
        display: flex;
        color: #141414;
        column-gap: 5px;
    }

    .header-order .table-row .label {
        width: 40%;
    }

    .header-order .table-row .value {
        width: 60%;
        word-break: break-word;
        font-weight: 500;
    }

    .header-order .table-row .value .status {
        color: #fff;
        display: inline-block;
        padding: 5px;
        background: #00467f;
        border-radius: 4px;
        line-height: 16px;
        font-size: 12px;
    }

    .header-order .table-row .value .status.error {
        background: #f26522;
    }

    .header-order .table-row .value .highlight-value {
        color: #f26522;
        width: 100%;
    }

    @media (max-width: 767px) {
        .header-order .table-row .label {
            width: 40%;
        }

        .header-order .table-row .value {
            width: 50%;
        }
    }
}

.order-history {
    position: relative;
    margin-top: 20px;

    &::after {
        position: absolute;
        content: "";
        top: 20px;
        left: 33.7%;
        width: 1px;
        height: calc(100% - 45px);
        background-color: #000;

        @include Responsive(IPAD) {
            top: 65px;
            left: 20px;
            height: calc(100% - 105px);
        }
    }

    .item {
        position: relative;
        display: flex;
        padding: 14px 10px 20px;
        @include Responsive(IPAD) {
            flex-wrap: wrap;
            padding: 20px 10px 30px;
        }

        &:nth-child(2n + 1) {
            background-color: #fafafa;
        }

        .day {
            width: 22%;
            font-weight: 400;
            @include Responsive(IPAD) {
                width: 100%;
                margin-bottom: 20px;
                padding-left: 30px;
            }
        }

        .box-right {
            width: 78%;

            @include Responsive(IPAD) {
                width: 100%;
            }

            .info {
                display: flex;
                column-gap: 20px;
                margin-bottom: 12px;

                @include Responsive(IPAD) {
                    flex-wrap: wrap;
                    padding-left: 30px;
                    margin-bottom: 20px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                .time {
                    width: 15%;
                    position: relative;
                    padding-right: 26px;
                    text-align: right;
                    font-size: 0.9rem;

                    @include Responsive(IPAD) {
                        width: 100%;
                        padding-right: 0;
                        text-align: left;
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        top: 50%;
                        right: 0px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #000;
                        transform: translateY(-50%);

                        @include Responsive(IPAD) {
                            left: -23px;
                            right: initial;
                        }
                    }

                    svg {
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        content: "";
                        top: 50%;
                        right: -5px;
                        background-color: #fff;
                        transform: translateY(-50%);
                        z-index: 2;

                        @include Responsive(IPAD) {
                            left: -27px;
                            right: initial;
                        }
                    }
                }

                .status {
                    width: 50%;
                    font-size: 0.75rem;
                    font-weight: 500;

                    @include Responsive(IPAD) {
                        width: 100%;
                        margin-top: 4px;
                    }
                }

                .local {
                    width: 25%;
                    font-size: 0.8rem;

                    @include Responsive(IPAD) {
                        width: 100%;
                        margin-top: 4px;
                    }
                }
            }
        }
    }
}
