*,
::after,
::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-weight: 300;
    font-family: $font_main;
    line-height: 1.3;
    color: $color_text;

    @include Responsive(IPAD) {
        font-size: 14px;
    }
    @include Responsive(MOBILE) {
        font-size: 13px;
    }
}

a {
    text-decoration: none;

    &:hover {
        color: $color_main;
    }
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    border-color: rgba(255, 178, 0, 0.6) !important;
    outline: 0;
    -webkit-box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 1px rgba(242, 126, 127, 0.6) !important;
    box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 1px rgba(242, 126, 127, 0.6) !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("../../images/icons/i-select.svg") !important;
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-size: 8px !important;
    padding-left: 10px;
    padding-right: 18px !important;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    border-color: #878787;
    opacity: 0.25;

    @include Responsive(MOBILE) {
        margin: 0.9rem 0;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;

    @include Responsive(XXL) {
        max-width: 1230px;
    }
}

.row > * {
    padding-right: 15px;
    padding-left: 15px;
}

section {
    overflow: hidden;
}

.padding-section {
    padding: 2rem 0;
    @include Responsive(IPAD) {
        padding: 1.8rem 0;
    }
    @include Responsive(MOBILE) {
        padding: 1.5rem 0;
    }
}

.bg-gray {
    background-color: $bg_gray;
}

.show-desktop {
    display: none;
    @include Responsive(MD) {
        display: block;
    }
}

.show-mobile {
    display: block;
    @include Responsive(MD) {
        display: none;
    }
}

.iframe-video {
    position: relative;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.title-main {
    @include font_60;
    font-weight: 600;
    font-family: $font_title;
}
.title-main-2 {
    @include font_34;
    font-weight: 600;
    font-family: $font_title;
}
.title-main-3 {
    @include font_24;
    font-weight: 500;
    font-family: $font_title;
}

.title-section {
    margin-bottom: 2rem;
}

.text-underline {
    text-decoration: underline;
}

.bg-img-section {
    background-position: center;
}

.box-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.box-content-line {
    position: relative;

    &::before {
        @include Responsive(XL) {
            position: absolute;
            content: "";
            top: 0.5rem;
            left: 0;
            width: 4.84rem;
            height: 1px;
            background-color: #000;
        }
    }

    .box-content {
        @include Responsive(XL) {
            padding-left: 6.4rem;
            text-align: justify;

            .t-box-editor {
                @include Responsive(LG) {
                    margin-bottom: 2.78rem;
                }
            }
        }
    }
}

.btn-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    color: $color_text;
    font-weight: 700;
    transition: all 0.3s;

    &:hover {
        &.btn-viewmore {
            background: $color_main;
        }
    }

    &.btn-viewmore {
        padding: 1rem 1.5rem;
        border: 1px solid #344054;
        border-radius: 30px;
        @include Responsive(MOBILE) {
            padding: 0.8rem 1.3rem;
        }
        &:hover {
            color: #344054;
        }

        i {
            font-size: 8px;
            @include Responsive(MOBILE) {
                font-size: 6px;
            }
        }
    }

    &.btn-viewdetail {
        &:hover {
            i::before {
                color: $color_main !important;
            }
        }
        i {
            font-size: 8px;
        }
    }

    i {
        margin-left: 1.4rem;
        transition: all 0.3s;
    }
}

// Css Box image
.box-img-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.box-img-flex.y-img-left {
    justify-content: flex-start;
}
.box-img-flex img {
    width: auto !important;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.t-box-img {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}
.t-box-img .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.t-box-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.form-main {
}

// Owl Slider
.modal {
    .modal-header {
        @include Responsive(MOBILE) {
            padding: 10px 16px;
        }
    }

    .style-nav-slider {
        .owl-nav {
            button.owl-prev,
            button.owl-next {
                width: 1.8rem;
                height: 1.8rem;
            }

            .owl-prev {
                left: -0.9rem;

                span {
                    padding-right: 1px;
                }
            }

            .owl-next {
                right: -0.9rem;
                span {
                    padding-left: 1px;
                }
            }
        }
    }
}

.m-b-20 {
    margin-bottom: 20px !important;
}
